<h3>お薬ご提案アプリ</h3>
<h5>いらっしゃいませ、どういった症状でお悩みですか?</h5>
 <hr>
   <%= search_form_for @q do |f| %>
    <%= f.label :counseling_cont, "症状" %>
    <%= f.search_field :counseling_cont %>
    <%= f.label :age_eq, "年齢" %>
    <%= f.search_field :age_eq %>
    <%= f.label :sex_eq, "性別" %>
    <%= f.radio_button :sex_cont, '', {:checked => true} %>指定なし
    <%= f.radio_button :sex_cont, 1 %>男性
    <%= f.radio_button :sex_cont, 2 %>女性
    <%= f.submit "検索" %>
   <% end %>
  <hr>
   <% @pharmacies.each do |pharmacy| %>
    <p>年齢:<%= pharmacy.age %></p>
    <p>性別:<%= pharmacy.sex %></p>
    <p>症状:<%= pharmacy.counseling %></p>
   <%= link_to "削除", pharmacy_path(pharmacy), method: :delete, data: {confirm: "削除しますか?"}, class: 'btn btn-primary' %>
   <%= link_to "編集", edit_pharmacy_path(pharmacy), class: 'btn btn-primary' %>
   <hr>
   <% end %>

 <% @pharmacies.each do |pharmacy| %>
 <%= "#{pharmacy.counseling}の方にはこちら!" %>
    <% case pharmacy.counseling %>
    <% when "喉が痛い" %>
    <%= "お客様はルルアタックEXはいかがでしょうか。" %>
    <%= link_to "amazonで買う", "http://urx3.nu/7OOW", class: 'btn btn-primary' %>
    <% when "熱がある" %>
    <%= "お客様はルルアタックFXはいかがでしょうか。" %>
    <%= link_to "amazonで買う", "http://urx3.nu/7OOW", class: 'btn btn-primary' %>
    <% when "咳が止まらない" %>
    <%= "お客様はストナプラスジェルSはいかがでしょうか。" %>
    <%= link_to "amazonで買う", "http://urx3.nu/VpLu", class: 'btn btn-primary' %>
    <% when "鼻水が止まらない" %>
    <%= "お客様はルルアタックNXはいかがでしょうか。"%>
    <%= link_to "amazonで買う", "http://urx3.nu/7OOW", class: 'btn btn-primary' %>
    <% when "頭痛が治らない" %>
    <%= "お客様はリングルアイビー200はいかがでしょうか" %>
    <%= link_to "amazonで買う", "http://urx3.nu/rYw8", class: 'btn btn-primary' %>
    <% when "胃が痛い" %>
    <%= "お客様はパンシロンAZはいかがでしょうか" %>
    <%= link_to "amazonで買う", "http://urx3.nu/SuJT", class: 'btn btn-primary'%>
    <% when "ものもらいになっちゃった" %>
    <%= "お客様はロート抗菌目薬はいかがでしょうか" %>
    <%= link_to "amazonで買う", "http://urx.red/RH5k", class: 'btn btn-primary' %>
    <% when "腰が痛い" %>
    <%= "お客様はボルタレンテープはいかがでしょうか" %>
    <% link_to "amazonで買う", "http://urx.blue/ZiLU", class: 'btn btn-primary' %>
    <% when "肩が痛い" %>
    <%= "お客様はボルタレンゲルはいかがでしょうか" %>
    <%= link_to "amazonで買う", "http://urx.blue/pSwQ", class: 'btn btn-primary' %>
    <% when "腹痛がある" %>
    <%= "お客様はイノキュアSはいかがでしょうか" %>
    <%= link_to "amazonで買う", "http://ur2.link/ziwq", class: 'btn btn-primary' %>
　　 <% when "下痢が止まらない" %>
    <%= "お客様は正露丸糖衣Aはいかがでしょうか" %>
    <%= link_to "amazonで買う", "http://ur2.link/wc02", class: 'btn btn-primary' %>
    <% when "吐き気がある" %>
    <%= "お客様はサクロンQはいかがでしょうか" %>
    <%= link_to "amazonで買う", "http://ur2.link/0MqZ", class: 'btn btn-primary' %>
    <% when "便秘改善したい" %>
    <%= "お客様は新ウィズワンはいかがでしょうか" %>
    <%= link_to "amazonで買う", "http://ur2.link/0GVX", class: 'btn btn-primary' %>
    <% when "生理痛がひどい" %>
    <%= "お客様はエルペインSはいかがでしょうか" %>
    <%= link_to "amazonで買う", "http://ur2.link/wrqo", class: 'btn btn-primary' %>
    <% when "胃がもたれる" %>
    <%= "お客様は新セルベール整胃<錠>はいかがでしょうか" %>
    <%= link_to "amazonで買う", "http://ur2.link/GWiM", class: 'btn btn-primary' %>
    <% when "眼精疲労" %>
    <%= "お客様はスマイル40 プレミアムはいかがでしょうか" %>
    <%= link_to "amazonで買う", "http://ur2.link/RODj", class: 'btn btn-primary' %>
    <% when "目が乾く" %>
    <%= "お客様は新ロートドライエイドEXはいかがでしょうか" %>
    <%= link_to "amazonで買う", "http://ur2.link/TGoi", class: 'btn btn-primary' %>
    <% when "動悸・息切れがする" %>
    <%= "お客様は救心はいかがでしょうか" %>
    <%= link_to "amazonで買う", "http://ur2.link/RDkH", class: 'btn btn-primary' %>
    <% when "肉体疲労がなんとかならないかな" %>
    <%= "お客様はユンケル黄帝顆粒DCFはいかがでしょうか" %>
    <%= link_to "amazonで買う", "http://ur2.link/XeAs", class: 'btn btn-primary' %>
    <% when "寝れない" %>
    <%= "お客様はドリエルはいかがでしょうか" %>
    <%= link_to "amazonで買う", "http://ur2.link/Vg98", class: 'btn btn-primary' %>
    <% when "肌荒れがひどい" %>
    <%= "お客様は新エバユースB26はいかがでしょうか" %>
    <%= link_to "amazonで買う", "http://ur2.link/YKFn", class: 'btn btn-primary' %>
    <% when "口内炎が治らない" %>
    <%= "お客様はトラフルダイレクトaはいかがでしょうか" %>
    <%= link_to "amazonで買う", "http://ur2.link/D2Wz", class: 'btn btn-primary' %>
    <% else %>
     <br>
    <%= "お客様大変申し訳ありません、#{pharmacy.counseling}でお困りでしたら以下の商品等はいかがでしょうか" %>
    <br>
    <%= link_to "amazon(咳、喉、熱)", "http://u0u0.net/TAuI", class: 'btn btn-primary btn-sm' %>
    <%= link_to "amazon(胃薬)", "http://u0u1.net/WYzt", class: 'btn btn-primary btn-sm' %>
    <%= link_to "amazon(肩・腰)", "http://u0u1.net/QOSm", class: 'btn btn-primary btn-sm' %>
　　 <%= link_to "amazon(頭痛)", "http://u0u1.net/Zi74", class: 'btn btn-primary btn-sm' %>
    <%= link_to "amazon(抗菌系目薬)", "http://u0u1.net/EXwj", class: 'btn btn-primary btn-sm' %>
    <%= link_to "amazon(医薬品全般)", "http://urx3.nu/Z4qC", class: 'btn btn-primary btn-sm' %>
    <% end %>
   <% end %>
  <%= paginate @pharmacies %>
