  <h3>お客様一覧</h3>
   <% @pharmacies.each do |pharmacy| %>
    <p>ニックネーム:<%= pharmacy.nickname %></p>
    <p>年齢:<%= pharmacy.age %></p>
    <p>性別:<%= pharmacy.sex %></p>
   <%= link_to "削除", pharmacy_path(pharmacy), method: :delete, data: {confirm: "削除しますか?"}, class: 'btn btn-primary' %>
   <%= link_to "編集", edit_pharmacy_path(pharmacy), class: 'btn btn-primary' %>
   <hr>
   <% end %>
