 <h3>相談者様詳細</h3>
  <% @user.pharmacies.each do |pharmacy| %>
  <p>ニックネーム:<%= pharmacy.nickname %></p>
  <p>年齢:<%= pharmacy.age %></p>
  <p>性別:<%= pharmacy.sex %></p>
  <p>ご相談内容:<%= pharmacy.counseling %></p>
  <hr>
  <% end %>

 <h4>おすすめ商品をご案内します！</h4>
 <p>尚、都合によりご紹介が難しいこともありますので、予めご了承いただけると幸いです。
  <br>
 <p>その場合はリンクからぜひご覧ください</p> 
  <% @user.pharmacies.each do |pharmacy| %>
    <% case pharmacy.sick %>
    <% when "sore_throat" %>
    <%= "#{pharmacy.nickname}様はルルアタックEXはいかがでしょうか。
         こちらのお薬はイブプロフェンという炎症を抑える成分と、赤みを抑えるトラネキサム酸が
         入っておりますので、辛い喉の痛みの症状の時おすすめです。" %>
    <%= link_to "amazonで買う", "http://urx3.nu/7OOW", class: 'btn btn-primary' %>
    <% when "fever" %>
    <%= "#{pharmacy.nickname}様はルルアタックFXはいかがでしょうか。
         こちらのお薬はアセトアミノフェン、イソプロピルアンチピリンという２種類の解熱効果がある成分と、
         ショウキョウという成分が、発汗作用を促し、解熱効果を高めます。また、発熱時に失いがちなビタミンC
         も配合しており、熱が辛い時にはこちらをおすすめいたします。" %>
    <%= link_to "amazonで買う", "http://urx3.nu/7OOW", class: 'btn btn-primary' %>
    <% when "cough" %>
    <%= "#{pharmacy.nickname}様はストナプラスジェルSはいかがでしょうか。
        こちらのお薬は気道粘膜をきれいにする効果があるL-カルボシステインという成分と、
        ジヒドロコデインリン酸、dl-メチルエフェドリン塩酸塩等の咳を抑える効果がある成分
        が入っており、つらい咳の時に特におすすめです。" %>
    <%= link_to "amazonで買う", "http://urx3.nu/VpLu", class: 'btn btn-primary' %>
    <% when "sneeze" %>
    <%= "#{pharmacy.nickname}様はルルアタックNXはいかがでしょうか。
        こちらのお薬は鼻水を止める効果のあるベラドンナ総アルカロイド、クレマスチンフマル酸塩 
        という成分が等が入っており、鼻水・鼻詰まりで悩んでらっしゃる時におすすめです。"%>
    <%= link_to "amazonで買う", "http://urx3.nu/7OOW", class: 'btn btn-primary' %>
    <% when "headache" %>
    <%= "#{pharmacy.nickname}様はリングルアイビー200はいかがでしょうか" %>
    <%= link_to "amazonで買う", "http://urx3.nu/rYw8", class: 'btn btn-primary' %>
    <% when "stomachache" %>
    <%= "#{pharmacy.nickname}様はパンシロンAZはいかがでしょうか" %>
    <%= link_to "amazonで買う", "http://urx3.nu/SuJT", class: 'btn btn-primary'%>
    <% when "something_rolling_around_in_my_eye" %>
    <%= "#{pharmacy.nickname}様はロートクリアはいかがでしょうか" %>
    <%= link_to "amazonで買う", "http://u0u1.net/XUkj", class: 'btn btn-primary' %>
    <% when "stye" %>
    <%= "#{pharmacy.nickname}様はロート抗菌目薬はいかがでしょうか" %>
    <%= link_to "amazonで買う", "http://urx.red/RH5k", class: 'btn btn-primary' %>
    <% when "ones_back_hurts" %>
    <%= "#{pharmacy.nickname}様はボルタレンテープはいかがでしょうか" %>
    <%= link_to "amazonで買う", "http://urx.blue/ZiLU", class: 'btn btn-primary' %>
    <% when "shoulder_pain" %>
    <%= "#{pharmacy.nickname}様はボルタレンゲルはいかがでしょうか" %>
    <%= link_to "amazonで買う", "http://urx.blue/pSwQ", class: 'btn btn-primary' %>
    <% else %>
     <br>
    <%= "#{pharmacy.nickname}様大変申し訳ありません、#{pharmacy.counseling}でお困りでしたら以下の商品等はいかがでしょうか" %>
    <br>
    <%= link_to "amazon(咳、喉、熱)", "http://u0u0.net/TAuI", class: 'btn btn-primary btn-sm' %>
    <%= link_to "amazon(胃薬)", "http://u0u1.net/WYzt", class: 'btn btn-primary btn-sm' %>
    <%= link_to "amazon(肩・腰)", "http://u0u1.net/QOSm", class: 'btn btn-primary btn-sm' %>
　　 <%= link_to "amazon(頭痛)", "http://u0u1.net/Zi74", class: 'btn btn-primary btn-sm' %>
    <%= link_to "amazon(抗菌系目薬)", "http://u0u1.net/EXwj", class: 'btn btn-primary btn-sm' %>
    <%= link_to "amazon(医薬品全般)", "http://urx3.nu/Z4qC", class: 'btn btn-primary btn-sm' %>
    <% end %>
   <% end %>