<p>相談者様詳細情報</p>
  <% @user.pharmacies.each do |pharmacy| %>
  <p>ニックネーム:<%= pharmacy.nickname %></p>
  <p>年齢:<%= pharmacy.age %></p>
  <p>性別:<%= pharmacy.sex %></p>
  <p>ご相談内容:<%= pharmacy.counseling %></p>
  <% end %>
<%= link_to "amazon(医薬品全般)", "http://urx3.nu/Z4qC" %>
<h3>おすすめ商品をご案内します！</h3>
<% case @user.sick %>
<% when "fever" %>
<%= "#{pharmacy.nickname}さんはルルアタックFXはいかがでしょうか。" %>
<%= link_to "amazonで買う", "http://urx3.nu/7OOW" %>
<% else %>
<%= "大変申し訳ありません、只今メンテナンス中です" %>
<% end %>


   
