<header>
  <nav class="navbar navbar-light " style="background-color: #67b5b7;">
　 <span class="navbar-brand">お薬提案アプリ</span>　
    <% if user_signed_in? %>
     <%= link_to "新規情報投稿", new_pharmacy_path, class: 'btn btn-primary' %> 
     <%= link_to "ログアウト", destroy_user_session_path, method: :delete, class: 'btn btn-primary' %>
     <%= link_to "マイページへ", user_path(current_user.id), class: 'btn btn-primary' %>
     <%= link_to "アカウント編集", edit_user_registration_path, class: 'btn btn-primary' %>
     <%= link_to "お客様一覧", root_path, class: 'btn btn-primary' %>
     <%= "【ログイン中のアドレス】#{current_user.email}" %>
    <% else %>
     <p>現在ログインされてません。恐れいりますが、ログインお願いします</p>
      <%= link_to "ログイン", new_user_session_path, class: 'btn btn-primary' %>
      <%= link_to "新規登録", new_user_registration_path, class: 'btn btn-primary' %>
      <%= link_to "ゲストログイン", homes_guest_sign_in_path, method: :post, class: 'btn btn-primary' %>
    <% end %>
  </nav>
 </header>
