<!DOCTYPE html>
<html>
  <head>
    <title>OtcDrug</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <%= stylesheet_pack_tag "application", media: "all", "data-turbolinks-track": "reload" %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
   <body style="background-color: #00ced1">
   <%= render 'shared/header' %>
   <% flash.each do |flash_type, msg| %>
    <div class="alert alert-<%= flash_type %>" role="alert">
     <a href="#" class="close" data-dismiss="alert">×</a>
     <%= msg %>
    <% end %>
     
    <div class="container content">
　　　</div>
　　<div class="footer">
   <div class="container">
   　<%= yield %>
   </div>
　</div>
　　<div class="p-4 mb-3 bg-info text-white">©お薬ご提案アプリ2020 powered by koichi hatano</div>
  </body>
 </body>
</html>
